<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">
            jdbc:mysql://104.238.149.210/hibernate_test
        </property>
        <property name="hibernate.connection.username">
            root
        </property>
        <property name="hibernate.connection.password">
            cjj8120972
        </property>

        <!-- List of XML mapping files -->
        <mapping resource="entity/User.hbm.xml"/>
        <mapping resource="entity/Organization.hbm.xml"/>
        <mapping resource="entity/Privilege.hbm.xml"/>
        <mapping resource="entity/News.hbm.xml"/>
        <mapping resource="entity/Attachment.hbm.xml"/>
        <mapping resource="entity/Document.hbm.xml"/>
        <mapping resource="entity/DocumentLibrary.hbm.xml"/>
        <mapping resource="entity/Announcement.hbm.xml"/>
        <mapping resource="entity/Message.hbm.xml"/>

    </session-factory>
</hibernate-configuration>